.speech-marks {
  padding: 60px 0 0 0;
}

.statement {
  padding: 40px 0 0 0;
  line-height: 1.2;
}

.image8 {
  padding: 60px 0 0 0;
}

.image8-title {
  padding: 8px 0 0 0;
  font-size: 16px;
  font-style: bold;
}

.image8-subtext {
  padding: 5px 0 0 0;
  font-size: 16px;
}

.pink-text {
  color: #ff88ad;
}
