.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  --offset: 0;
  transform: translateX(var(--offset));
  transition: transform 500ms;
}

.card {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  height: 500px;
  width: 100%;
}

.progress-bar {
  display: flex;
  width: 80%;
  position: absolute;
  bottom: 60px;
  left: 10%;
}

.progress-button {
  display: block;
  flex: 1;
  background-color: #6e7986;
  height: 4px;
  margin: 0 2px;
  border: none;
}
